<h1>wiki</h1>
<p><%= link_to "create new article ", new_article_path %></p>

<ul>
  <% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <p><%= article.content %></p>
  <% end %>
</ul>
